body{
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.flex{
    display: flex;
}

.justifycenter{
    justify-content: center;
}

.alignitemcenter{
    align-items: center;
}

.center{
    flex: 3;
    background-color:  #E4E2F3;
    align-items: center;
  
}

.toDoList, .finish{
    flex-direction: column;
    align-items: center;
}

/* .finish{
    border: 1px solid black;
    border-radius: 15px;
}  */
.h-100{
    height: 100%;  
}

.side{
    flex: 1;
    background-color: whitesmoke;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.side-1{
    /* margin-top: 90px; */
    margin-top: 25%;
}

.clock{
    font-size: 50px;
    font-weight: 600;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form,
.greeting,
.hiding
{
    display: none;
}

.form{
    margin-top: 30px;
}

.greeting{
    text-align: center
}
.showing{
    display: block;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.bgImage{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear
}

.toDoList > li {
    display: flex;
    margin-bottom: 10px;
}

#easy, #normal , #hard {
    display: none;
}

.iconImage{
    width: 80px;
    height: 80px;
}

.name{
    align-items: center;
    justify-content: center;
    margin: 8 0;
}

.todoInput{
    height: 2rem;
}

.eInput{
    height: 2.5em;
}

.toDoForm{
    justify-content: center;
}

.nameInput{
    height: 2rem;
    margin: 5 50
}


.toDoList , .finish{
    height: 80%;
    width: 50%;
}

.left{
    height: 80%;
    width: 100%;
    margin-top: 2%;
    flex-direction: column;
}

.right{
    margin-top: 2%;
    height: 80%;
    width: 100%;
    flex-direction: column;
}
ul {
   list-style: none; 

}
li { 
    padding-top: 30px;

}
li > button {
    margin-left: 5px;
}

.fOneToDo, .fToDo{
    
    text-decoration: line-through;
    
}

.oneToDo , .fOneToDo, .fToDo{
    font-size: larger;
    font-weight: 600;
}